/* * {
  border: 1px solid red; 
} */

/* .col {
  border: 1px solid red; 
} */

/* margin: 0;
  padding: 0;
  box-sizing: border-box; */
#profile-pic {
  height: 25rem;
  position: relative;
  top: 2.5rem;
  border-radius: 1rem;
  /* width: 100%; */
}

.nav-wrapper {
  box-shadow: none !important;
}

.custom-header {
  display: flex;
  padding: 1rem;
  text-decoration: none;
}

.custom-header a {
  padding-right: 3rem;
  font-weight: bold;
}

.custom-info {
  margin: 1rem;
}

/* #custom-info-names {
  padding-left: 0;
} */

#custom-info-values {
  margin-left: 2rem;
}

.custom-row {
  display: flex;
}

.text1 {
  font-size: 4rem;
}

.text2 {

}

.text3 {

}


/* background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */