@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  /* border: 1px solid red;  */
  font-family: 'Quicksand', sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: #f5f5f5;
}

#top-background {
  /* background-image: linear-gradient(to top, #f5f5f5, #ccd3e1, #97b6ca, #589bab, #008080); */
  background-image: linear-gradient(to top, #4f8787, #438585, #358484, #238282, #008080);
  background-image: linear-gradient(to top, #6d8b8b, #5c8888, #498686, #318383, #008080);
  background-image: linear-gradient(to top, #a9b5b5, #8aa8a8, #699b9b, #458d8d, #008080);
  background-image: linear-gradient(to top, #d6d6d6, #b6bdca, #88a7bb, #5194a4, #008080);
  background-image: linear-gradient(to top, #99dada, #7bc3c3, #5cacac, #3a9696, #008080);
}

a {
  color: purple !important;
}

/* p {
  font-size: 1.2rem;
} */

/* .col {
  border: 1px solid red; 
} */

/* margin: 0;
  padding: 0;
  box-sizing: border-box; */
#profile-pic {
  height: 25rem;
  position: relative;
  top: 2.5rem;
  border-radius: 1rem;
  /* width: 100%; */
}

.nav-wrapper {
  box-shadow: none !important;
}

.custom-header {
  display: flex;
  padding: 1rem;
  padding-top: 2.5rem;
  text-decoration: none;
}

.custom-header a {
  padding-right: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.custom-row {
  display: flex;
}

#top-section {
  
}

#main-info {
  
}

#occupation {
  font-size: 1.5rem;
  font-weight: bold;
}

.custom-info {
  margin: 1em;
  font-weight: bold;
}

/* #custom-info-names {
  padding-left: 0;
} */

#custom-info-values {
  margin-left: 2rem;
}

#github-link {
  margin-left: 2rem;
}

#left-column p, #left-column a {
  margin-left: 2rem;
}

.skill-column p:first-child {
  margin-top: 0 !important;
}

.profile-links {
  font-weight: bold;
}

h5 {
  font-weight: bold !important;
  margin-bottom: 2rem !important;
}

h6 {
  text-decoration: underline;
  /* font-weight: bold !important; */
  /* font-size: 1.5rem !important; */
}

.edu-info {
  margin-left: 2rem;
  margin-bottom: 2rem;
}

#name {
  font-size: 4rem;
  font-weight: bold !important;
}

#footer {
  height: 10rem;
  margin-top: 5rem;
  background-image: linear-gradient(to bottom, #99dada, #7bc3c3, #5cacac, #3a9696, #008080);
}


/* background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */